body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}




.heading {
    grid-area: header;
    text-align: center;
    padding: 0.5em;

    h2 {
        font-size: 2rem;
        font-weight: 900;
        letter-spacing: .2em;
        text-transform: uppercase;
    }
}

h3 {
    text-align: center;
}

.button {
    display: inline-block;

    font-weight: bold;
    color: #105255;

    padding: .5em 1.7em;
    background-color: $color-blue;
    border-radius: 5em;
    box-shadow: 0 0 5px $color-blue,
                0 0 25px $color-blue;

    transition: .5s !important;

    &:hover {
        transform: scale(1.1);
    }
}