body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}




.heading {
    grid-area: header;
    text-align: center;
    padding: 1.5em;

    h2 {
        font-size: 2rem;
        font-weight: 900;
        letter-spacing: .2em;
        text-transform: uppercase;
    }
}

h3 {
    font-size: 1.25rem;
    text-align: center;
}

h4 {
    font-size: 1.3rem;
    text-transform: uppercase;
}

h5 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.7em 0;
}

.button {
    display: inline-block;
    font-weight: bold;
    padding: .5em 1.7em;
    border-radius: 5em;
    transition: .5s !important;

    &:hover {
        transform: scale(1.1);
    }
}

.container {
    max-width: 900px;
    margin: 0 auto 2em;
    padding: 0 2em;
}