.about {
    display: grid;
    grid-template-columns: 17em auto;
    grid-template-areas: "img content"
                         "info content";
    grid-column-gap: 3em;
    justify-items: center;

    margin: 0 auto;
    padding-bottom: 1.5em;

    .about-image {
        grid-area: img;

        img {
            width: 15em;
            height: 15em;
            border-radius: 10em;
        }
    }
    .about-info {
        grid-area: info;

        .info-item {
            display: flex;
            justify-content: space-between;

            p {
                margin: 0.35em;
                &.info-title {
                    font-weight: bold;
                }
            } 
        }
    }
    .about-content {
        grid-area: content;

        max-width: 40em;
        line-height: 1.5em;
    }
    
    @include max700 {
        grid-template-areas: "img info"
                             "content content";
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 1em;
        justify-items: start;
        
        .about-image img {
            width: 10em;
            height: 10em;
        }
    }

    @include max550 {
        grid-template-areas: "img"
                             "info"
                             "content";
        grid-template-columns: 1fr;
        justify-items: center;
    }
}