.contacts {
    display: grid;
    grid-template-areas: 'info email'
                         'social email';
    grid-column-gap: 2em;

    &-email {
        grid-area: email;

        .email-subject,
        .email-content {
            box-sizing: border-box;
            width: 100%;
            padding: 1em;
        }
        .email-content {
            margin: 2em 0;
            max-width: 100%;
            height: 15em;
        }
        .email-send {
            display: block;
            margin: 0 auto;
            padding: 1em 3em;

            border: none;
            border-radius: .4em;

            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.2em;

            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background-color: $color-darkblue;
            }
        }
    }

    &-info {
        text-align: center;
        align-self: center;
        span {
            font-weight: 600;
        }
        a {
            white-space: pre;

            &:hover {
                color: $color-darkblue;
            }
        }
    }

    &-social {
        align-self: end;

        ul {
            display: flex;
            justify-content: space-between;
            max-width: 20em;
            margin: 0 auto;
            li {
                fill: #aeaeae;
                width: 20%;
                transition: 0.1s;
                
                .svg-icon {
                    fill: $color-white;
                }

                &:hover {
                    transform: scale(1.1);
                }
                &.svg-icon-vk:hover {
                    fill: #4e7db2;
                }
                &.svg-icon-github:hover {
                    fill: #823f9a;
                }
                &.svg-icon-viber:hover {
                    fill: #8c66a9;
                }
                &.svg-icon-whatsapp:hover {
                    fill: #42e35f;
                }
                &.svg-icon-telegram:hover {
                    fill: #2da1d3;
                }
            }
        }
    }
}