#experience {
    color: $color-white;
    background-color: $bg-black;
    background: url("../img/bg-experience.jpg") no-repeat center /cover;
}

.experience {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em 2em 3em;

    .education,
    .experience-work {
        display: flex;
        align-items: center;
        grid-gap: 2em;
    }
    
    .period {
        text-align: center;
        
        .year {
            font-size: 1.7rem;
            font-weight: 900;
            line-height: .85em;
    
            .period-present {
                font-size: 1.1rem;
            }
        }
        p:nth-child(2) {
            font-style: italic;
            font-size: 0.9em;
        }
    }
    .experience-info {
        margin: 0 1em;

        h5 span {
            white-space: pre;
        }
        p {
            font-style: italic;
        }
    }
    .experience-work {
        flex-direction: row-reverse;
        text-align: right;
    }

    @include min550 {
        .period {
            width: 8em;
        }
        .head-experience-work {
            text-align: right;
        }
    }
    
    @include max550 {
        h4 {
            text-align: center;
        }
        .education,
        .experience-work {
            flex-direction: column;
            text-align: left;
        }
        .period {
            p {
                margin: 0;
            }
            .year {
                display: flex;
                align-self: center;

                span:nth-child(2) {
                    padding: 0 0.5em;
                }
            }
        }
        .experience-info {
            margin: 0.5em 1em;
        }
    }
}

