.home-page {
    height: 100vh;
    overflow: hidden;
    color: $color-white;

    display: grid;
    grid-template-areas: "header"
                         "nav";

    @include min700 {
        grid-template-rows: 45% 55%;
    }

    @include max700 {
        grid-template-rows: 35% 65%;
    }
}
.home-header {
    grid-area: header;

    display: grid;
    grid-template-areas: "logo ."
                         "heading heading";
    align-content: space-between;

    #logo {
        grid-area: logo;

        margin: .5em 1em;

        .logo-blue {
            color: $color-blue;
        }
    }
    .home-page-heading {
        grid-area: heading;

        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: 500;
        letter-spacing: .5em;
        text-transform: uppercase;
        -webkit-box-reflect: above 0 -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(0.35, transparent), to(rgba(0, 0, 0, 0.25)));

    }
    
    @include min700 {
        #logo {
            font-size: 3rem;
        }
        .home-page-heading {
            font-size: 3rem;
        }
    }

    @include max700 {
        #logo {
            font-size: 2rem;
        }
        .home-page-heading {
            font-size: 2.5rem;
        }
    }

    @include max550 {
        #logo {
            font-size: 1.5rem;
        }
        .home-page-heading {
            font-size: 2rem;
        }
    }
}
.navigation {
    grid-area: nav;

    ul {
        @include min700 {
            display: grid;
            grid-template-columns: repeat(6, auto);
            grid-template-rows: repeat(2, 1fr);
            justify-items: center;
            justify-content: center;

            li {
                margin: 2em 1em;

                .button {
                    color: #105255;
                    background-color: $color-blue;
                    box-shadow: 0 0 5px $color-blue,
                                0 0 25px $color-blue;
                }
    
                &:nth-child(-n+3) {
                    grid-column: span 2;
                }
                &:nth-child(4),
                &:nth-child(5) {
                    grid-column: span 3;
                } 

                a {
                    font-size: 1.5rem;
                }
            }
        }
        
        @include max700 {
            display: flex;
            flex-direction: column;
            align-items: center;

            li {
                margin: 1em;

                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        width: 60% - $i * 3;
                    }
                }

                a {
                    font-size: 1.5rem;
                    box-sizing: border-box;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        @include max550 {
            li a {
                font-size: 1.2rem;
            }
        }
    }
}



#bg-home-page {
    background: $bg-black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}