.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 5em;
    margin: 0 auto;
    padding: 0 2em 5em;
    max-width: 1200px;

    .work-item {
        height: 30em;
        overflow: hidden;
        position: relative;
        .work-content,
        .button,
        .work-tags {
            position: relative;
            color: $color-white;
            opacity: 0;
            margin: 1.5em;
            z-index: 1;
            transition: .3s;
        }
        .button {
            border: 1px solid $color-white;
        }
        .work-tags {
            position: absolute;
            right: 0;
            bottom: 0;
            text-align: right;
            li {
                margin: 0.4em;
            }
        }
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: .3s;
            z-index: 0;
        }
        &:hover {
            &::after {
                background-color:  rgba(0,0,0,.9);
            }
            .work-content,
            .button,
            .work-tags {
                opacity: 1;
            } 
        } 
    }
    .work-restaurente {
        background: url("../img/portfolio/work-restaurante.jpg") no-repeat top /cover;
    }
    .work-adele {
        background: url("../img/portfolio/work-adele.jpg") no-repeat top /cover;
    }
    .work-minima {
        background: url("../img/portfolio/work-minima.jpg") no-repeat top /cover;
    }
}
